@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#task-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgb(243, 243, 243);
  list-style-type: none;
}

.new-task-input {
  border-style: none;
  font-size: 20px;
  font-style: italic;
}

.new-task-input:focus {
  outline: none;
  cursor: auto;
}

.list-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: auto;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  width: 70%;
  background-color: rgb(243, 243, 243);
}

.remove-button {
  border: solid 1px rgb(246, 246, 246);
  width: 100%;
  padding: 15px;
  font-size: 20px;
  color: rgb(168, 168, 168);
  background-color: rgb(243, 243, 243);
}

.task-item {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 1% 2%;

  /* : solid rgb(168, 168, 168) 1px; */
  font-size: 20px;
  background-color: #fff;
}

.task-checkbox {
  margin-right: 20px;
}

li img {
  width: 30px;
}

.input-area,
.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%;
  height: 60px;
  background-color: #fff;
}

.task-header h1 {
  font-size: 20px;
}

.task-icon {
  position: absolute;
  left: 96%;
  border: none;
  background-color: transparent;
}
